//
// Button
//

.btn {
  @include btn;

  &:disabled {
    background-color: map-get($disabled-color, disabled-01) !important;
    color: map-get($disabled-color, disabled-02) !important;
  }
}


//
// Line button
//

.btn-line {
  @include btn($background-color: transparent, $color: $primary-color);
  border: $border-weight solid $primary-color;

  &:disabled {
    background-color: map-get($disabled-color, disabled-01) !important;
    border: none;
    color: map-get($disabled-color, disabled-02) !important;
  }
}


//
// Clear button
//

.btn-clear {
  @include btn($background-color: transparent, $color: $primary-color);

  &:disabled {
    color: map-get($disabled-color, disabled-02) !important;
  }
}


//
// Icon button
//

.btn-icon {
  display: inline-flex !important;
  align-items: center;
  flex-wrap: wrap;
  min-width: unset;
  vertical-align: middle;
}


//
// Button size
//

.btn--sm {
  min-width: inherit;
  padding: $space-01 $space-03;

  &-right-icon {
    padding-right: $space-02;
  }

  &-left-icon {
    padding-right: $space-02;
  }

  &:disabled > .btn__text::after {
    content: none;
  }

  .btn__text::after {
    bottom: 0;
  }
}

.btn--lg {
  display: block;
  width: 100%;
}


//
// Button text
//

.btn__text {
  position: relative;
  pointer-events: none;

  &::after {
    @include absolute($bottom: -0.125rem, $left: 0);
    background-color: currentColor;
    content: '';
    height: $border-weight;
    width: 100%;
    opacity: 0;
    @include motion(opacity, 100ms, on);
  }

  &--left-icon {
    margin-left: $space-01;
  }

  &--right-icon {
    margin-right: $space-01;
  }
}
